/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &foostan_corne_5col_layout; };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Toggle_KBL {
            bindings = <&tog 5>;
            key-positions = <32 33>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_KB-CANARY {
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
            // |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | 
            // |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | CTRL | META | . |
            //             | GUI | LWR | SPC |     | ENT | RSE  | BSPC |

            display-name = "Canary :3";
            bindings = <
&kp W           &kp L           &kp Y               &kp P             &kp B      &kp Z    &kp F              &kp O                &kp U            &as LS(APOSTROPHE) APOSTROPHE
&mt LEFT_GUI C  &mt LEFT_ALT R  &mt LEFT_CONTROL S  &mt LEFT_SHIFT T  &kp G      &kp M    &mt RIGHT_SHIFT N  &mt RIGHT_CONTROL E  &mt RIGHT_ALT I  &mt RIGHT_GUI A
&kp Q           &kp J           &kp V               &kp D             &kp K      &kp X    &kp H              &kp COMMA            &kp PERIOD       &lt 4 QUESTION
                                &mo 1               &lt 3 ESCAPE      &kp SPACE  &kp RET  &kp BACKSPACE      &mo 2
            >;
        };

        Nums_Layer {
            // -----------------------------------------------------------------------------------------
            // | !     |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |
            // | BT1   | BT2 | BT3 | BT4 | BT5 |     | LFT | DWN |  UP | RGT |     |
            // | BTCLR |     |     |     |     |     |     |     |     |     |     |
            //               | GUI |     | SPC |     | ENT | ESC | TAB |

            display-name = "{ [ ( 123 ] ) }";
            bindings = <
&trans         &trans            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE  &kp PLUS   &kp N7        &kp N8         &kp N9        &kp ASTERISK
&kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE        &kp MINUS  &kp NUMBER_4  &kp N5         &kp NUMBER_6  &kp SLASH
&trans         &trans            &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH   &kp N0     &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &kp EQUAL
                                 &trans                &trans                 &kp SPACE       &kp RET    &kp SPACE     &kp BACKSPACE
            >;
        };

        Symbol_Layer {
            // -----------------------------------------------------------------------------------------
            // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
            // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
            // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
            //            | GUI | ESC | SPC |     | ENT |     | TAB |

            display-name = "Symbologies";
            bindings = <
&trans        &kp AMPERSAND    &kp ASTERISK  &kp GRAVE  &trans     &trans   &trans          &trans             &trans         &trans
&kp QUESTION  &kp DOLLAR       &kp PERCENT   &kp CARET  &trans     &trans   &kp LEFT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_GUI
&kp TILDE     &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &trans     &trans   &trans          &trans             &trans         &trans
                               &kp LGUI      &kp ESC    &kp SPACE  &kp RET  &trans          &kp TAB
            >;
        };

        Navigation_Layer {
            // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
            // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
            // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
            //            | GUI | ESC | SPC |     | ENT |     | TAB |

            display-name = "To Infinity…";
            bindings = <
&trans  &trans  &trans    &trans  &trans     &kp K_UNDO      &kp K_REDO    &trans          &trans           &trans
&trans  &trans  &trans    &trans  &trans     &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp CAPSLOCK
&trans  &trans  &trans    &trans  &trans     &kp INSERT      &kp PAGE_UP   &kp PAGE_DOWN   &kp HOME         &kp END
                &kp LGUI  &trans  &kp SPACE  &kp RET         &trans        &kp TAB
            >;
        };

        Function_Layer {
            // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
            // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
            // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
            //            | GUI | ESC | SPC |     | ENT |     | TAB |

            display-name = "def Fnum( ){ };";
            bindings = <
&kp F9  &kp F10  &kp F11   &kp F12  &trans     &trans   &trans       &trans      &trans     &trans
&kp F5  &kp F6   &kp F7    &kp F8   &trans     &trans   &kp K_PASTE  &kp K_COPY  &kp K_CUT  &trans
&kp F1  &kp F2   &kp F3    &kp F4   &trans     &trans   &trans       &trans      &trans     &trans
                 &kp LGUI  &kp ESC  &kp SPACE  &kp RET  &trans       &kp TAB
            >;
        };

        QWERTY {
            display-name = "boomer mode :/";
            bindings = <
&kp Q           &kp W           &kp E               &kp R             &kp T      &kp Y    &kp U              &kp I                &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G      &kp H    &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &as LS(SEMICOLON) SEMICOLON
&kp Z           &kp X           &kp C               &kp V             &kp C      &kp N    &kp M              &kp COMMA            &kp PERIOD       &kp SINGLE_QUOTE
                                &lt 3 ESC           &mo 1             &kp SPACE  &kp RET  &kp BACKSPACE      &mo 2
            >;
        };
    };
};
