/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &foostan_corne_5col_layout; };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Toggle_KBL {
            bindings = <&tog 5>;
            key-positions = <32 33>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_KB-CANARY {
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
            // |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | 
            // |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | CTRL | META | . |
            //             | GUI | LWR | SPC |     | ENT | RSE  | BSPC |

            display-name = "CANARY :)";
            bindings = <
&kp Q           &kp W           &kp E               &kp R             &kp T      &kp Y    &kp U              &kp I                &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G      &kp H    &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &as LS(APOS) APOS
&kp Z           &kp X           &kp C               &kp V             &kp C      &kp N    &kp M              &kp COMMA            &kp PERIOD       &kp SINGLE_QUOTE
                                &lt 3 ESC           &mo 1             &kp SPACE  &kp RET  &kp BACKSPACE      &mo 2
            >;
        };

        Nums_Layer {
            // -----------------------------------------------------------------------------------------
            // | !     |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |
            // | BT1   | BT2 | BT3 | BT4 | BT5 |     | LFT | DWN |  UP | RGT |     |
            // | BTCLR |     |     |     |     |     |     |     |     |     |     |
            //               | GUI |     | SPC |     | ENT | ESC | TAB |

            display-name = "Nums & Parentheses";
            bindings = <
&trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans     &kp PLUS   &kp N7        &kp N8        &kp N9        &kp ASTERISK
&trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans     &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SLASH
&trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans     &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL
                &kp LGUI              &trans                 &kp SPACE  &kp RET    &kp ESC       &kp TAB
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
            // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
            // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
            //            | GUI | ESC | SPC |     | ENT |     | TAB |

            display-name = "Raise";
            bindings = <
&kp N1     &kp N2     &kp N3    &kp N4     &kp N5     &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
&kp MINUS  &kp EQUAL  &kp LBRC  &kp LBKT   &kp LPAR   &kp RPAR  &kp RBKT  &kp RBRC   &kp FSLH  &kp BSLH
&kp GRAVE  &trans     &trans    &kp COMMA  &kp COLON  &kp SEMI  &kp DOT   &kp LCTRL  &kp RALT  &trans
                      &kp LGUI  &kp ESC    &kp SPACE  &kp RET   &trans    &kp TAB
            >;
        };

        extra_1 {
            // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
            // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
            // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
            //            | GUI | ESC | SPC |     | ENT |     | TAB |

            display-name = "Raise";
            bindings = <
&kp N1     &kp N2     &kp N3    &kp N4     &kp N5     &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
&kp MINUS  &kp EQUAL  &kp LBRC  &kp LBKT   &kp LPAR   &kp RPAR  &kp RBKT  &kp RBRC   &kp FSLH  &kp BSLH
&kp GRAVE  &trans     &trans    &kp COMMA  &kp COLON  &kp SEMI  &kp DOT   &kp LCTRL  &kp RALT  &trans
                      &kp LGUI  &kp ESC    &kp SPACE  &kp RET   &trans    &kp TAB
            >;
        };

        extra_2 {
            // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
            // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
            // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
            //            | GUI | ESC | SPC |     | ENT |     | TAB |

            display-name = "Raise";
            bindings = <
&kp N1     &kp N2     &kp N3    &kp N4     &kp N5     &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
&kp MINUS  &kp EQUAL  &kp LBRC  &kp LBKT   &kp LPAR   &kp RPAR  &kp RBKT  &kp RBRC   &kp FSLH  &kp BSLH
&kp GRAVE  &trans     &trans    &kp COMMA  &kp COLON  &kp SEMI  &kp DOT   &kp LCTRL  &kp RALT  &trans
                      &kp LGUI  &kp ESC    &kp SPACE  &kp RET   &trans    &kp TAB
            >;
        };

        QWERTY {
            display-name = "QWERTY ";
            bindings = <
&kp Q           &kp W           &kp E               &kp R             &kp T      &kp Y    &kp U              &kp I                &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G      &kp H    &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &as LS(APOS) APOS
&kp Z           &kp X           &kp C               &kp V             &kp C      &kp N    &kp M              &kp COMMA            &kp PERIOD       &kp SINGLE_QUOTE
                                &lt 3 ESC           &mo 1             &kp SPACE  &kp RET  &kp BACKSPACE      &mo 2
            >;
        };
    };
};
